<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
</head>

<body>
    <!-- <div class="loader"></div> -->


    <div id="app">

        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item ">
                        VOTE PROJECT
                    </a>

                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <h2 class="title has-text-centered dividing-header">{{ProjectName}}</h2>

        <div class="section">
            <article class="media is-bordered " v-for="item in voteInformation">
                <figure class="media-left">
                    <img class="image is-64x64" v-bind:src="item.submissionImage" v-bind:key="item.id">
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>
                                <a href="#" class="has-text-info">{{ item.title}}</a>
                                <span class="tag is-small">#{{item.id}}</span>
                            </strong>
                            <br> {{item.description}} <br>
                            <small class="is-size-7">
                                Submitted by:
                                <img class="image is-24x24" v-bind:src="item.avatar">
                            </small>
                        </p>
                    </div>
                </div>
                <div class="media-left">
                    <span class="icon is-large">
                        <i class="fas fa-heart"></i>
                        <strong class="has-text-info">{{item.votes}}</strong>
                    </span>
                </div>
                <div class="media-right">
                    <a>
                        <span class="icon is-large">
                            <!-- <i class="fas fa-plus-circle fa-accessible-icon"></i> -->
                            <button class="button fa fa-plus-circle is-success is-small"
                                @click="upVote(item.id)"></button>
                        </span>
                    </a>

                </div>
            </article>
        </div>
    </div>
    <!-- App -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="./seed.js"></script>
    <script src="./main.js"></script>

</body>

</html>